html{
  scroll-snap-type: y mandatory;
}
.app{
  background-color: black;  
  display: grid;
  place-items: center;
  height: 100vh;
}
.app__videos{
  position: relative;
  height: 600px;
  overflow: scroll;
  width: 80%;
  max-width: 400px;
  scroll-snap-type: y mandatory;
  border-radius: 20px;
}
.app__videos::-webkit-scrollbar{
  display: none;
}